.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  margin: 5px;
  
}
li.low {
  border: 2px solid #1a681e;
  /* color: #1a681e; */
}


li span {
  padding: 8px;
}

li.high {
  border: 2px solid #f2360c;

}
li button {
  background: grey;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}


input[type="text"] {
  padding: 10px;
  width: 50%;
  margin:5px;
}
button, input[type="submit"]{
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}


/* li.high {
  background-color: bisque;
  text-transform: capitalize;
  text-decoration: underline;
  color: aqua;
} */

span.done {
  color: blue;
}

span.high{
  color: #f2360c;
  font-weight: bold;
}

span.low{
  color: green;
  font-weight: bold;

}